{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/stuff/stuff-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/favicon.svg' %}" 
      alt="A skater boy cat"
    >
  </div>
  <div class="cat-details">
    <h1>{{ stuff.name }}</h1>
    <p>size: {{ stuff.size }}</p>
    <p>type: {{ stuff.type }}</p>
    <p>age: {{ stuff.age }}</p>
    <p>bio: {{ stuff.description }}</p>
    <div class="cat-actions">
      <a href="{% url 'stuff-update' stuff.id %}" class="btn warn">Edit</a>
      <a href="{% url 'stuff-delete' stuff.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <h3>Add a Walk</h3>
    <form
      action="{% url 'add-walk' stuff.id %}"
      method="post" 
      class="subsection-content"
      autocomplete="off"
    >
      {% csrf_token %}
      {{ walking_form.as_p }}
      <button type="submit" class="btn submit">Add Walk</button>
    </form>
    <br>
    <h2>Walks</h2>
    <div class="subsection-title">
      <img 
        src="{% static 'images/shoe.svg' %}" 
        alt="An ice cream cone cat"
      />
      <img 
        src="{% static 'images/ipod.svg' %}"
        alt="A cat as onigiri"
      />
      <img 
        src="{% static 'images/bottle.svg' %}" 
        alt="A kabob of kittens"
      />
    </div>
    {% if stuff.walking_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Walk</th></tr>
      </thead>
      <tbody>
        {% for walk in stuff.walking_set.all %}
          <tr>
            <td>{{walk.date}}</td>
            <td>{{walk.length}} minutes</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
			<div class="subsection-content">
        <p>{{stuff.name}} has not walked 😔</p>
      </div>
    {% endif %}
  </section>
  <section class="feedings"> 
  <section class="toys">
    <div class="subsection-title">
      <h2>Things</h2>
      <img src="{% static 'images/thing1.svg' %}" alt="a thing" />
      <img src="{% static 'images/thing2.svg' %}" alt="a thing" />
      <img src="{% static 'images/thing3.svg' %}" alt="a thing" />
    </div>
    <h3>{{ stuff.name }}'s Things</h3>
    <div class="subsection-content">
      {% if stuff.things.count %}
        {% for thing in stuff.things.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ thing.color }}"
            ></div>
            <a href="{% url 'thing-detail' thing.id %}">
              <p>A {{ thing.color }} {{ thing.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{stuff.name}} doesn't have any things 😞</p>
      {% endif %}
    </div>
    <h3>Available Things</h3>
    <div class="subsection-content">
      {% if things.count %}
        {% for thing in things.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ thing.color }}"
            ></div>
            <a href="{% url 'thing-detail' thing.id %}">
              <p>A {{ thing.color }} {{ thing.name }}</p>
            </a>
            <form action="{% url 'assoc-things' stuff.id thing.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give thing</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-toys">
          {{stuff.name}} already has all the available things 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}