{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/things/things-detail.css' %}"
/>
{% endblock head %}

{% block content %}
  
<div class="card" style="border-color: {{ things.color }}">
  <div class="card-bg" style="background-color: {{ things.color }}"></div>
  <div class="card-content">
    <h2>{{ things.name }}</h2>
    <p>A {{ things.color }} thing</p>
  </div>
</div>
<a href="{% url 'thing-update' things.id %}" class="btn warn">Edit</a>
<a href="{% url 'thing-delete' things.id %}" class="btn danger">Delete</a>

{% endblock %}